*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: black;
    color: #000;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.text-blinking{
    font-size: 100px;
    color: #1a3470;
    font-family: "Mongolian Baiti" ;
}
.active{
    color: #0080ff;
    text-shadow: 0 0 20px #0652ff,
    0 0 30px #0652ff,
    0 0 40px #0652ff,
    0 0 50px #0652ff;
}
.text-blinking span{
    animation:TextBlinKing 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
.text-blinking span:nth-child(1){animation-delay: 0s;}
.text-blinking span:nth-child(2){animation-delay: 0.2s;}
.text-blinking span:nth-child(3){animation-delay: 0.4s;}
.text-blinking span:nth-child(4){animation-delay: 0.6s;}
.text-blinking span:nth-child(5){animation-delay: 0.8s;}
.text-blinking span:nth-child(6){animation-delay: 1s;}
.text-blinking span:nth-child(7){animation-delay: 1.2s;}
.text-blinking span:nth-child(8){animation-delay: 1.4s;}
.text-blinking span:nth-child(9){animation-delay: 1.6s;}
.text-blinking span:nth-child(10){animation-delay: 1.8s;}
.text-blinking span:nth-child(11){animation-delay: 2s;}
.text-blinking span:nth-child(12){animation-delay: 2.2s;}
.text-blinking span:nth-child(13){animation-delay: 2.4s;}
.text-blinking span:nth-child(14){animation-delay: 2.6s;}
.text-blinking span:nth-child(15){animation-delay: 2.8s;}
@keyframes  TextBlinKing{
    0%{
        color: #1a3470;
        text-shadow: none;
    }
    4%{
        color: #0080ff;
        text-shadow: 0 0 20px #0652ff,
        0 0 30px #0652ff,
        0 0 40px #0652ff,
        0 0 50px #0652ff;
    }
    10%{
        color: #1a3470;
        text-shadow: none;
    }
    20%{
        color: #0080ff;
        text-shadow: 0 0 20px #0652ff,
        0 0 30px #0652ff,
        0 0 40px #0652ff,
        0 0 50px #0652ff;
    }
    100%{
        color: #1a3470;
        text-shadow: none;
    }
}